.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#EEEEEE;
}

form{
    display: flex;
    flex-direction: column;
}
